.list-page {
  padding: 80px 0;
  background: url(../../img/header-bg.jpg) center/cover no-repeat;
}

@media (max-width: 1024px) {
  .list-page {
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .list-page {
    padding: 30px 0;
  }
}
@supports (-webkit-appearance:none){
.list-page{background:url(../../img/header-bg.webp) center/cover no-repeat}
}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}
