.blog-wrapper {
  padding: 60px 0;
  background: url(../../img/header-bg.jpg) 0 0/cover no-repeat, #000b15;
}

.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__aside {
  margin-top: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19.65812%;
          flex: 0 0 19.65812%;
}

.blog__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70.94017%;
          flex: 0 0 70.94017%;
}

.movie {
  margin: 60px 0;
}

.movie__button {
  margin-top: 50px;
  margin-left: 20%;
}

.movie-premier {
  margin-top: 80px;
}

.movie-premier__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-search {
  border: 1px solid #fff;
}

.blog-search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
}

.blog-search__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.blog-search__input input {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 14px;
  color: aliceblue;
  border-right: 1px solid;
}

.blog-search__input input:focus::-webkit-input-placeholder {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog-search__input input:focus::-moz-placeholder {
  transform: scaleX(0);
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.blog-search__input input:focus:-ms-input-placeholder {
  -ms-transform: scaleX(0);
      transform: scaleX(0);
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.blog-search__input input:focus::-ms-input-placeholder {
  -ms-transform: scaleX(0);
      transform: scaleX(0);
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.blog-search__input input:focus::placeholder {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.blog-search__input input::-webkit-input-placeholder {
  color: aliceblue;
}

.blog-search__input input::-moz-placeholder {
  color: aliceblue;
}

.blog-search__input input:-ms-input-placeholder {
  color: aliceblue;
}

.blog-search__input input::-ms-input-placeholder {
  color: aliceblue;
}

.blog-search__input input::placeholder {
  color: aliceblue;
}

.blog-search__icon button {
  background: transparent;
  font-size: 14px;
  color: aliceblue;
  padding-left: 8px;
}

.aside-title {
  margin-top: 20px;
  padding: 20px 0;
  font-family: Montserrat-r;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
}

.categories__item {
  position: relative;
  margin: 30px 0 0 30px;
}

.categories__item::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -20px;
  width: 10px;
  height: 1px;
  background: #fff;
}

.categories__link {
  font-family: Montserrat-r;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.categories__link:hover {
  color: #b9c41d;
}

.posts {
  margin-top: 20px;
}

.posts__item {
  padding: 40px 0;
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.posts__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.posts__caption {
  font-family: Montserrat-r;
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
  padding: 10px 0;
}

.posts__subtitle {
  font-family: Montserrat-r;
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .blog__aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 27%;
            flex: 0 0 27%;
  }

  .blog__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }

  .movie-premier {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .blog__aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }

  .blog__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }

  .movie-premier {
    margin-top: 30px;
  }

  .movie-premier__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .movie-premier__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    margin: 20px 0;
  }

  .movie-premier__card:last-child {
    display: none;
  }
}

@media (max-width: 580px) {
  .blog-wrapper {
    padding: 30px 0;
  }

  .blog__aside {
    margin-top: 40px;
  }

  .movie {
    margin: 40px 0;
  }

  .movie__button {
    margin-top: 20px;
  }

  .blog-search__input input {
    font-size: 10px;
  }

  .blog-search__icon button {
    font-size: 10px;
  }

  .aside-title {
    font-size: 10px;
    margin-top: 10px;
    padding: 15px 0;
  }

  .categories__item {
    margin: 20px 0px 0px 30px;
  }

  .categories__link {
    font-size: 10px;
  }

  .posts__item {
    padding: 20px 0;
  }

  .posts__caption {
    font-size: 11px;
  }

  .posts__subtitle {
    font-size: 10px;
  }
}

@media (max-width: 425px) {
  .blog__aside {
    display: none;
  }

  .blog__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .movie-premier {
    margin-top: 0px;
  }
}

@media (max-width: 375px) {
  .movie {
    margin: 40px 0px 0px 0px;
  }

  .movie__button {
    margin: 20px 0px 0px 0px;
    text-align: center;
  }
}
@supports (-webkit-appearance:none){
.blog-wrapper{background:url(../../img/header-bg.webp) 0 0/cover no-repeat, #000b15}
}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 580px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 425px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 375px){

@supports (-webkit-appearance:none){

}

}
