.movies__wrapper {
  background: #020d18;
}

.film-info {
  background: url(../../img/betman-bg.jpg) center/cover no-repeat;
  padding: 180px 0px 50px 0px;
}

.film-info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.film-info__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25.64103%;
          flex: 0 0 25.64103%;
  text-align: center;
}

.film-info__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55.55556%;
          flex: 0 0 55.55556%;
}

.film-info__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.film-info__btn {
  margin-bottom: 10px;
}

.film-info__btn > span {
  font-size: 15px;
  color: #cbe00d;
  padding: 0 2px;
}

.info-text__title {
  font-family: Montserrat-r;
  font-weight: 800;
  font-size: 35px;
  color: #fff;
  margin-bottom: 30px;
}

.info-text__caption {
  margin: 5px 0;
}

.text-caption {
  font-family: Montserrat-r;
  font-weight: 300;
  font-size: 15px;
  color: #635f5f;
  line-height: 130%;
}

.film-info-link {
  font-size: 15px;
  display: inline-block;
  margin-left: 5px;
}

.movie-trailer {
  padding: 50px 0px 50px 0px;
}

.movie-trailer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-trailer__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27.35043%;
          flex: 0 0 27.35043%;
}

.movie-trailer__item {
  margin: 10px 0;
}

.movie-trailer__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64.95726%;
          flex: 0 0 64.95726%;
  height: 420px;
}

@media (max-width: 1200px) {
  .film-info__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .film-info__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
  }

  .film-info__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 67%;
            flex: 0 0 67%;
  }

  .film-info__buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 20px;
  }
}

@media (max-width: 1044px) {
  .film-info__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37%;
            flex: 0 0 37%;
  }

  .film-info__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 62%;
            flex: 0 0 62%;
  }
}

@media (max-width: 1024px) {
  .movie-trailer__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    height: 400px;
  }
}

@media (max-width: 840px) {
  .film-info {
    padding: 80px 0px 40px 0px;
  }

  .film-info__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .film-info__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    margin-bottom: 30px;
  }

  .film-info__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
}

@media (max-width: 768px) {
  .film-info {
    padding-bottom: 20px;
  }

  .film-info__btn > span {
    font-size: 12px;
  }

  .info-text__title {
    font-size: 25px;
  }

  .text-caption {
    font-size: 12px;
  }

  .film-info-link {
    font-size: 12px;
  }

  .movie-trailer {
    padding: 30px 0px 30px 0px;
  }

  .movie-trailer__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    height: 350px;
  }
}

@media (max-width: 685px) {
  .movie-trailer__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    height: 230px;
  }
}

@media (max-width: 640px) {
  .film-info__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }

  .film-info__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
}

@media (max-width: 540px) {
  .film-info__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }

  .film-info__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 530px) {
  .movie-trailer__items {
    display: none;
  }

  .movie-trailer__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    height: 350px;
  }
}

@media (max-width: 425px) {
  .film-info {
    padding-bottom: 0;
  }

  .info-text__title {
    font-size: 19px;
    margin-bottom: 20px;
  }

  .text-caption {
    font-size: 10px;
  }

  .film-info-link {
    font-size: 10px;
  }

  .movie-trailer {
    padding: 20px 0px 20px 0px;
  }

  .movie-trailer__video {
    height: 300px;
  }
}

@media (max-width: 375px) {
  .movie-trailer__video {
    height: 250px;
  }
}
@supports (-webkit-appearance:none){
.film-info{background:url(../../img/betman-bg.webp) center/cover no-repeat}
}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1044px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 840px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 685px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 640px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 540px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 530px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 425px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 375px){

@supports (-webkit-appearance:none){

}

}
